:root {
  font-family: 'JetBrains Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Mono',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Consolas', 'Courier New',
    monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-primary: #181818;
  --color-fg-primary: #f5f5f5;
  --color-fg-secondary: #96adcb;

  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: #f5f5f5;
    --color-fg-primary: #252525;
    --color-fg-secondary: #7085a1;
  }
}

*::selection {
  color: var(--color-bg-primary);
  background: var(--color-fg-primary);
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100svh;
  margin: 0;
}

#app {
  width: 1100px;
  height: 100%;
  padding: 0 3rem;
}

b {
  font-weight: 600;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

.stagger-reveal {
  animation: staggerReveal 700ms var(--stagger-delay, 0ms) forwards;
  opacity: 0;
}

@keyframes staggerReveal {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
